// Define Variables for Buttons
$button-color: $primary-color !default;
$button-border-color: $button-color !default;
$button-border-width: 3px !default;
$button-border-style: solid !default;
$button-padding: 0.5em !default;
$button-font-weight: 700 !default;
$button-font-size: 1.15em !default;
$button-border-radius: 50px !default;
$button-margin: .8em !default;
$button-display: inline-block !default;
$button-light-grading: 50% !default;

// Button Mixins
@mixin button-color (
   $color: $button-color,
   $border-color: $color,
   $light-grading: $button-light-grading,
   $invert: false
) {
   color: $color;
   border-color: $border-color;

   &:hover {
      @if $invert {
         $color: darken($color, $light-grading);
      } @else {
         $color: lighten($color, $light-grading);
      }
      $border-color: $color;

      color: $color;
      border-color: $border-color;
   }
}

@mixin button (
   $border-width: $button-border-width,
   $border-style: $button-border-style,
   $padding: $button-padding,
   $font-size: $button-font-size,
   $font-weight: $button-font-weight,
   $border-radius: $button-border-radius,
   $margin: $button-margin,
   $display: $button-display
) {
   display: $display;
   padding: $padding;
   border: {
      style: $border-style;
      width: $border-width;
   }
   font-size: $font-size;
   font-weight: $font-weight;
   border-radius: $border-radius;
   margin: $margin;
   transition: color 300ms, border-color 300ms;
}


// Set Button styles
.button {

   @include button();
   @include button-color($primary-color);

   &.gold {
      @include button-color($secondary-color, $light-grading: 20%);
   }

   &.white {
      @include button-color($white, $light-grading: 100%, $invert: true);
   }

}