doctype html
html(lang="de")

    include ../partials/head

    section.row.mod.main-section
        div.column
            h1.voo-title Styleguide

            h2.voo-title I. Base Elements

            h3.voo-title Typography
            hr

            // Colors
            include ../01-base/colors

            // Typography
            include ../01-base/typography

            // Headliness
            include ../01-base/headings

            // Paragraphs
            include ../01-base/paragraph

            // Blockquotes
            include ../01-base/blockquote

            // Lists
            include ../01-base/list

            h2.voo-title II. Components
            h2.voo-title III. Modules

    include ../partials/scripts