doctype html
html(lang="de")

    include ../partials/head

    section.row.mod.main-section
        div.column
            h1.voo-title Styleguide

            include ../partials/base

            h2.voo-title II. Components
            h2.voo-title III. Modules

    include ../partials/scripts