- var namespace = "voo"

doctype html
html(lang="de", class="no-js")

    include ../partials/head/head

    section.row.mod.main-section
        div.column
            h1.voo-title Styleguide

            include ../modules/base
            include ../modules/components
            include ../modules/modules

    include ../partials/footer/scripts