doctype html
html(lang="de")

    include ../partials/head

    section.row.mod.main-section
        div.column
            h1 Styleguide

            h2 I. Base Elements

            h3 Typography
            hr

            // Headliness
            include ../01-base/headlines

            // Paragraphs
            include ../01-base/paragraph

            // Blockquotes
            include ../01-base/blockquote

            // Lists
            include ../01-base/list

            h2 II. Components
            h2 III. Modules

    include ../partials/footer-scripts