//
// @author: Dominic Vogl (http://www.dominicvogl.de)
// @date: 2016-03-11
// -----//-----//-----//-----//-----//

// Define Basic Vars
$basic-mod-margin: map_get($grid-column-gutter, medium);

@mixin mod-basics {

	// Basic mod styles
	.mod {
		margin: {
			top: $basic-mod-margin;
			bottom: $basic-mod-margin
		}
	}

}