//
// @author: Dominic Vogl
// @web: http://www.dominicvogl.de
// -----//-----//-----//-----//-----//

// variables
$slick-zindex: 1 !default;
$slick-breakpoint: 1330px !default;

$slick-background: $secondary-color !default;
$slick-background-hover: lighten($slick-background, 15%);
$slick-color: $white !default;
$slick-size: 1.2em !default;
$slick-border-radius: 50px !default;
$slick-padding: 0.3em !default;
$slick-corner-gap: 60px !default;


// styles
.slick-arrow {
	background: $slick-background;
	font-size: $slick-size;
	z-index: $slick-zindex;
	padding: $slick-padding;
	position: absolute;
	top: 50%;
	line-height: 1em;
	color: $slick-color;
	transform: translate3d(0, -50%, 0);
	@include border-radius($slick-border-radius);
}

.slick-prev {
	left: 0;
	margin-left: ($slick-corner-gap * 0.2);
}

.slick-next {
	right: 0;
	margin-right: ($slick-corner-gap * 0.2);
}

.slick-dots {
	text-align: center;
	list-style: none;
	margin: $list-margin-bottom 0;

	li {
		display: inline-block;
		margin: 0 $slick-padding;
	}

	button {
		font-size: $slick-size;
		background: $slick-background;
		padding: $slick-padding;
		color: $slick-color;
		@include border-radius($slick-border-radius)
	}
}

.no-touch {
	.slick-arrow {
		&:hover {
			cursor: pointer;
			background-color: $slick-background-hover;
		}
	}

	.slick-dots {
		button {
			&:hover {
				background: $slick-background-hover;
			}
		}
	}
}


// medium breakpoint
@include breakpoint(medium) {

	.slick-arrow {
		font-size: $slick-size * 1.5;
	}

}

@include breakpoint($slick-breakpoint) {

	.slick-prev {
		margin-left: -($slick-corner-gap);
	}

	.slick-next {
		margin-right: -($slick-corner-gap);
	}

}