h4.voo-title Buttons

h5 Basics / Coloring
div
    a.button Button default
    a.button.primary Button Primary
    a.button.secondary Button Secondary

div
    button.warning.button(type="button") Button Warning
    button.alert.button(type="button") Button Alert
    button.info.button(type="button") Button Info
    button.disabled.button(type="button") Button Info

h5 Hollow Style
div
    a.button.hollow Button default
    a.button.hollow.primary Button Primary
    a.button.hollow.secondary Button Secondary

div
    button.warning.button.hollow(type="button") Button Warning
    button.alert.button.hollow(type="button") Button Alert
    button.info.button.hollow(type="button") Button Info
    button.disabled.button.hollow(type="button") Button Info

h5 Sizes
a.button.tiny So Tiny
a.button.small So Small
a.button So Basic
a.button.large So large
a.button.expanded Such Expand
a.button.expanded.small Wow, Small Expanded