mixin pattern(name, label)
    div.column
        div.voo-colors
            div.pattern(class= name)
            span.label= name
            <br />
            span.label= label

h4.voo-title Colors

div.row.small-up-2.medium-up-5
    +pattern('primary', 'primary')
    +pattern('secondary', 'secondary')
    +pattern('success', 'success')
    +pattern('warning', 'warning')
    +pattern('alert', 'alert')

    +pattern('white', 'white')
    +pattern('light-gray', 'light-gray')
    +pattern('medium-gray', 'medium-gray')
    +pattern('dark-gray', 'dark-gray')
    +pattern('black', 'black')