// Unordered list
h4.voo-title unordered list

ul
    li This is a list item in an unordered list
    li An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line.
    li
        ul
            li Lists can be nested inside of each other
            li This is a nested list item
            li This is another nested list item in an unordered list
    li This is the last list item


// Ordered list
h4.voo-title ordered list

ol 
    li This is a list item in an ordered list
    li An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.
    li Lists can be nested inside of each other
        ol
            li This is a nested list item
            li This is another nested list item in an ordered list
    li This is the last list item


// Definition list
h4.voo-title definition list

dl
    dt Definition List
    dd A number of connected items or names written or printed consecutively, typically one below the other.

    dt This is a term.
    dd This is the definition of that term, which both live in a <code>dl</code>.

    dt Here is another term.
    dd And it gets a definition too, which is this line.

    dt Here is term that shares a definition with the term below.
    dd And it gets a definition too, which is this line.