// Logo
h4.voo-title Logo

div.row.small-up-3
    div.column
        img(src="http://placehold.it/200x200&text=Logo big")
    div.column
        img(src="http://placehold.it/100x100&text=Logo small")
    div.column
        img(src="http://placehold.it/46x46&text=Logo icon")