h4.voo-title

p primary font: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
p
    em primary font italic: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
p
    b primary font bold: Lorem ipsum dolor sit amet, consectetur adipiscing elit.

p.secondary-font secondary font: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
p.secondary-font
    em secondary font italic: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
p.secondary-font
    b secondary font bold: Lorem ipsum dolor sit amet, consectetur adipiscing elit.