h4.voo-title

p
    span primary font: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    em primary font italic: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    b primary font bold: Lorem ipsum dolor sit amet, consectetur adipiscing elit.

p.secondary-font
    span secondary font: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    em secondary font italic: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    b secondary font bold: Lorem ipsum dolor sit amet, consectetur adipiscing elit.