head
    meta(charset='utf-8')

    title Styleguide

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet',href='../dist/css/app.css')

    include favicon