//
// @author: Dominic Vogl
// @web: http://www.dominicvogl.de
// -----//-----//-----//-----//-----//

// variables
$base-mod-gap: map_get($grid-column-gutter, medium);

// styles
* {
	outline: none;
}

ul, ol, dl {
	margin: 0 0 $list-margin-bottom;
	padding: 0;
}

@media (pointer: fine) {
	a:hover {
		text-decoration: underline;
	}
}

body {
	background-image: linear-gradient(to bottom, $primary-color, $secondary-color);
}