h4.voo-title Lists

// Unordered list
ul
    li This is a list item in an unordered list
    li An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. 
    li 
    Lists can be nested inside of each other
    <ul>
    li This is a nested list item
    li This is another nested list item in an unordered list
    </ul>
    
    li This is the last list item


// Ordered list
ol
    li List item 1
    li List item 2
    li List item 3

// Definition list
dl
    dt defined term
    dd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iam enim adesse poterit. Videamus igitur sententias eorum.

    dt defined term
    dd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iam enim adesse poterit. Videamus igitur sententias eorum.

    dt defined term
    dd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iam enim adesse poterit. Videamus igitur sententias eorum.