h4.voo-title Basic Slider with arrow navigation and pagination

div.mod-slider
    div.item
        img(src="http://placehold.it/1300x400", width="1300", height="400", alt="Preview Image")
    div.item
        img(src="http://placehold.it/1300x400", width="1300", height="400", alt="Preview Image")
    div.item
        img(src="http://placehold.it/1300x400", width="1300", height="400", alt="Preview Image")
    div.item
        img(src="http://placehold.it/1300x400", width="1300", height="400", alt="Preview Image")

h4.voo-title Basic Slider with arrow navigation and pagination

div.mod-carousel

    div
        img(src="http://placehold.it/200x200&text=1", width="200", height="200", alt="Preview Thumbnail Image")
    div
        img(src="http://placehold.it/200x200&text=2", width="200", height="200", alt="Preview Thumbnail Image")
    div
        img(src="http://placehold.it/200x200&text=3", width="200", height="200", alt="Preview Thumbnail Image")
    div
        img(src="http://placehold.it/200x200&text=4", width="200", height="200", alt="Preview Thumbnail Image")
    div
        img(src="http://placehold.it/200x200&text=5", width="200", height="200", alt="Preview Thumbnail Image")
    div
        img(src="http://placehold.it/200x200&text=6", width="200", height="200", alt="Preview Thumbnail Image")
    div
        img(src="http://placehold.it/200x200&text=7", width="200", height="200", alt="Preview Thumbnail Image")
    div
        img(src="http://placehold.it/200x200&text=8", width="200", height="200", alt="Preview Thumbnail Image")
    div
        img(src="http://placehold.it/200x200&text=9", width="200", height="200", alt="Preview Thumbnail Image")