//
// LAYOUT.SCSS
//------------------------------------------------------------------------



//
// Basis für Module festlegen
//------------------------------------------------------------------------

.module {
   clear: both;
   margin: $column-gutter 0;
}


//
// Floating für Bilder steuern
//------------------------------------------------------------------------

.image {
   &.left {
      margin-right: $column-gutter/2;
   }

   &.right {
      margin-left: $column-gutter/2;
   }

   &.center {
      img {
         margin: 0 auto;
      }
   }

   img {
      display: block;
   }
}



//
// Mache Video iFrame responsive (Youtube, Vimeo)
//------------------------------------------------------------------------

.video-box {
   position: relative;
   padding-bottom: 56.25%; // Für 16:9 Videos, Berechnung: (9/16)*100 or 9/0,16
   height: 0;

   iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
   }
}