@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
  font-weight: normal;
  font-style: normal;
}

.<%= className %> {
   font-family:"<%= fontName %>";
   display:inline-block;
   vertical-align:middle;
   line-height:1;
   font-weight:normal;
   font-style:normal;
   speak:none;
   text-decoration:inherit;
   text-transform:none;
   text-rendering:optimizeLegibility;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
}

.<%= className %>-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.<%= className %>-2x { font-size: 2em; }
.<%= className %>-3x { font-size: 3em; }
.<%= className %>-4x { font-size: 4em; }
.<%= className %>-5x { font-size: 5em; }
.<%= className %>-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

<% _.each(glyphs, function(glyph) { %>@mixin <%= className %>_<%= glyph.name %>() {&:before { content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>" }}
<% }); %>

<% _.each(glyphs, function(glyph) { %>@mixin <%= className %>_<%= glyph.name %>-after() {&:after { content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>" }}
<% }); %>

<% _.each(glyphs, function(glyph) { %>.<%= className %>-<%= glyph.name %> { @include <%= className %>_<%= glyph.name %>(); }
<% }); %>

<% _.each(glyphs, function(glyph) { %>.<%= className %>-<%= glyph.name %>-after { @include <%= className %>_<%= glyph.name %>-after(); }
<% }); %>