$secondary-font: $secondary-font-family !default;

$voo-heading-space: map_get($grid-column-gutter, small) * 3 !default;
$voo-space: map_get($grid-column-gutter, small) * 0.5;
$voo-pattern-height: 100px !default;
$voo-border: $callout-border !default;

// Set title Styles
.voo-title {
	margin: {
		top: $voo-heading-space * 0.5;
		bottom: $voo-heading-space * 0.3;
	}
	padding-bottom: 0.3em;
	border-bottom: 2px solid $medium-gray;
}

// Set colors for  color patterns
.voo-colors {
	border: $voo-border;
	padding: 5px;
	margin-bottom: $voo-space;

	.pattern {
		height: $voo-pattern-height;
		margin-bottom: $voo-space;

		&.primary {
			background-color: $primary-color;
		}

		&.secondary {
			background-color: $secondary-color;
		}

		&.success {
			background-color: $success-color;
		}

		&.warning {
			background-color: $warning-color;
		}

		&.alert {
			background-color: $alert-color;
		}

		&.dark-gray {
			background-color: $dark-gray;
		}

		&.light-gray {
			background-color: $light-gray;
		}

		&.medium-gray {
			background-color: $medium-gray;
		}

		&.white {
			background-color: $white;
		}

		&.black {
			background-color: $black;
		}
	}

}

.secondary-font {
	font-family: $secondary-font;
}

@include breakpoint(medium) {

	.voo-title {
		margin: {
			top: $voo-heading-space;
			bottom: $voo-heading-space * 0.5;
		}
	}

}